.carousel-caption{
position: absolute;
   top:100px
}
.fa-sign-in{
	margin-left: 20px;
	color: #000000;
}

.fa-sign-out{
	margin-left: 20px;
	color: #000000;
}

.cari-form{
	 width: 650px;
}

   body{
    font-family: 'Source Code Pro', monospace;
}

.fa-map{
	margin-left: 20px;
	color: #000000;
}
.biru {
	color: blue!important;
}