{% load static %}
<!DOCTYPE html>
<html lang="en">

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta property="og:title" content="Sistem Informasi Pesisir Kabupaten Pati" />
    <meta property="og:description" content="Webgis,pengaduan,dan berita seputar pesisir Kabupaten Pati." />
    <meta property="og:image" content="https://pasut.s3.ap-southeast-1.amazonaws.com/png-clipart-diskominfo-pati-department-of-education-and-culture-of-pati-regency-tegalombo-growonglor-kantor-dinas-pekerjaan-umum-kab-pati-others-emblem-logo+(1).png" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sisirpati</title>
    <!--<link rel="icon" type="image/x-icon" href="{% static 'assets/images/sisir_footer.png' %}">-->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/main.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <style type="text/css">
      body{
    font-family: 'Source Code Pro', monospace;
}
.notification {
    color: black;
  text-decoration: none;
  padding: 10px 20px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}


.notification .badge {
  position: absolute;
  top: -1px;
  right: -8px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: red;
  color: white;
}

  </style>

        <!-- Header -->

<header style="margin-top:100px">
      <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
         <a class="navbar-brand" href="{% static 'assets/images/sisir.png' %}"> <img src="{% static 'assets/images/sisir.png' %}" alt="#" style="margin-bottom: 15px; height: 50px; width: 231px; "></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link {% if request.path == '/' %} biru {% endif %}" href="/">Beranda <span class="sr-only">(current)</span></a>
            </li>
             <li class="nav-item active">
              <a class="nav-link  {% if '/berita/' in request.path   %} biru {% endif %}"  href="/berita">Berita <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
            <a class="nav-link  {% if request.path == '/webgis/peta/' %} biru {% endif %}" href="/webgis/peta">Webgis<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link  {% if request.path == '/isi_pengaduan/' %} biru {% endif %}" href="/isi_pengaduan">Laporkan<span class="sr-only">(current)</span></a>
            </li>
            {% if user.is_authenticated %}
              <li class="nav-item active" >
              <div class="dropdown" style="margin-right: 10px;">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   Kelola Peta 
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <a href ="/webgis/daftar_wisata"  class="dropdown-item" >Titik Wisata</a>
    <a href ="/webgis/daftar_potensi"  class="dropdown-item" >Titik Potensi</a>
    <a href ="/webgis/daftar_geojson"  class="dropdown-item" >Geojson</a>
  </div>
</div>
            </li>
            {% endif %}
          </ul>
             <form method="get" class="d-flex search-form" action="{% url 'cariBerita' %}">
        
          <input class="form-control mr-2 cari-form" type="search" placeholder="Cari berita" aria-label="Cari berita" name="cari" size="50" value="{{request.GET.cari}}">
          <input type="hidden" name="halaman" value ="1">
    
                       <button class="btn btn-outline-success" type="submit">Cari</button>
            
        </form>
        {% if user.is_authenticated %}
         <a  href="{% url 'logout' %}"><i class="fa fa-sign-out" aria-hidden="true" alt=""></i></a>
        {% else %}
        <a  href="{% url 'login' %}"><i class="fa fa-sign-in" aria-hidden="true" alt=""></i></a>
        {% endif %}
        {% if user.is_authenticated %}
        <a href="/pesan" class="notification">
        <i class="fas fa-envelope fa-2x"></i>
        {% if inbox.pesan_masuk %}
        <span class="badge">{{inbox.pesan_masuk}}</span>
        {% endif %}
        {% endif %}
        </a>
        </div>
        <div>
       
        </div>
      </nav>

    </header>

<main>
 {% if messages %}
  {% for message in messages %}
    <div id="this" class=" alert alert-{{ message.tags }}">{{ message }}  <button onclick = "hapus()" class="btn btn-{{ message.tags }}">Tutup</button></div>

  {% endfor %}
{% endif %}
{%block content%}

{%endblock content%}
</main>
 <footer class="bg-primary text-white ">
        <!-- Grid container -->
        <div class="container">
          <!--Grid row-->
          <div class="row">
              <div class="col">

             <img src="{% static 'assets/images/Logo-propinsi-jawa-tengah-transparent-background.png' %}" width="300px;">
            </div>
           
            <div class="col">
              <h5 class="text-uppercase">Dinas Perikanan dan Kelautan</h5>

              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3962.126115139095!2d111.02105981477197!3d-6.7544711951173815!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e70d2483e99d6bb%3A0x22c3def15d1aa0c8!2sDepartment%20of%20Marine%20and%20Fisheries%20District%20Pati!5e0!3m2!1sen!2sid!4v1654349331745!5m2!1sen!2sid" width="400" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col ">
              <h5 class="text-uppercase">Kontak</h5>

              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#!" class="text-white">Telepon : (0295) 381932</a>
                </li>
                <li>
                  <a href="#!" class="text-white">Email : dkp@patikab.go.id</a>
                </li>
                  <li>
                  <a href="#!" class="text-white">Fax : (0295) 386094</a>
                </li>
                  <li>
                  <a href="#!" class="text-white">Website : https://dkp.patikab.go.id</a>
                </li>
              </ul>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2022 Copyright:
          <a class="text-white" href="https://dkp.patikab.go.id/">Dinas Kelautan dan Perikanan Pati Jawa Tengah</a>
        </div>
        <!-- Copyright -->
      </footer>

</body>
<script type="text/javascript">
    function hapus(){
        document.getElementById('this').remove()
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
</html>