
{% extends 'blog/basis.html' %}
{% load static %}
{% block content %}

<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" >

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'assets/images/banner/1.jpg'%}" width ="800px" height ="500px"class="d-block w-100" alt="...">

      <div class="carousel-caption d-none d-md-block">
       <p style="font-size: 40px">Sistem Informasi Pesisir Kabupaten Pati</p>
                                     <br>
        <p style="font-size: 25px">Dinas Kelautan dan Perikanan Kabupaten Pati, Jawa Tengah</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static  'assets/images/banner/SISIR1.png' %}"width ="800px" height ="500px" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
    <div class="carousel-item">
     <img src="{% static 'assets/images/banner/SISIR2.png'%}"width ="800px" height ="500px" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <p style="font-size: 25px">Penghijauan Hutan Mangrove Kabupaten Pati Tahun 2021</p>
      </div>
    </div>
     <div class="carousel-item">
     <img src="{% static 'assets/images/banner/SISIR31.png'%}"width ="800px" height ="500px" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <p style="font-size: 25px">Penghijauan Hutan Mangrove Kabupaten Pati Tahun 2021</p>
      </div>
    </div>
 
  <div class="carousel-item">
     <img src="{% static 'assets/images/banner/SISIR4.png'%}"width ="800px" height ="500px" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <p style="font-size: 25px">Penghijauan Hutan Mangrove Kabupaten Pati Tahun 2021</p>
      </div>
    </div>
  </div>
 
  
  <button class="carousel-control-prev" type="button" data-target="#carouselExampleCaptions" data-slide="prev">
    <span class="carousel-control-prev-icon" ></span>
    <span class="sr-only">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-target="#carouselExampleCaptions" data-slide="next">
    <span class="carousel-control-next-icon" ></span>
    <span class="sr-only">Next</span>
  </button>
</div>
<div class="container" style="padding: 80px;">
  <div class="row">
       <img src="{% static 'assets/images/profil/sisir_misi.png'%}" class="img-fluid">
      </div>
    <div class="row" style="margin-top: 50px;">
    <img class="img-fluid" src="{% static 'assets/images/profil/BAGAN.png'%}">
     </div>
    </div>
</div>

<!--/ End Call to action -->



<!-- Client Area -->

<!--/ End Client Area -->



{% endblock content %}