{% extends 'blog/basis.html' %}
{% load static %}
{% block content %}
<style type="text/css">
	.parent{ width: 60%;margin-left: 0px; }
</style>
<div class="jumbotron jumbotron-fluid " style="background-image:url('https://cloud.mysteryscience.com/image/fetch/f_auto,q_auto/https://www.dropbox.com/s/6mlhvbi7hba40it/Thumbnail-Mini-Lesson-Wow_Deep-Ocean_shutterstock_1044142510.jpg%3Fdl%3D1')">

  <div class="container text-white">
   <h1>Berita</h1>
				<p>Kabar Pesisir Kab.Pati</p>
  </div>
</div>

	<div class="container" style="min-height:600px;">
				{% if user.is_authenticated%}
	{% if user.is_authenticated %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/buat_kategori_berita/">Buat Kategori <span class="sr-only">(current)</span></a>
      </li>
       <li class="nav-item active">
        <a class="nav-link" href="/kelola_kategori">Kelola Kategori <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
{% endif %}
{% endif %}
			

  {% if request.GET.cari %}
  <h2 style="margin-bottom:30px">Hasil pencarian untuk kategori "{{request.GET.cari}}"</h2>
  {% endif %}
		
		<div class="row ">
		<div class="col-sm">
				<h3 align="center" style="margin-bottom:40px;">Kategori</h3>
		<div class="row">
		{% for kategori in kategorilist %}
		<div class="col" style="margin-bottom:50px;">
        <a href="/berita/{{kategori.link}}"><img src="{{kategori.gambar.url}}" style="width:300px;height:250px;" > </a>
        <h5><b>{{kategori.nama|truncatechars:30}}</b></h5>
        <p>{{kategori.deskripsi|truncatechars:30}}</p>
     </div>
		{% endfor %}
		</div>
		</div>
		<div class="col-md-4">

    
			<div class="p-4">
				<form method="get" class="d-flex search-form" action=" " style="margin-bottom:20px;">
        
          <input class="form-control mr-2 cari-form" type="search" placeholder="Cari kategori" aria-label="Cari berita" name="cari" size="50">
    
                       <button class="btn btn-outline-info" type="submit">Cari</button>
                     </form>
        		<legend class="border-bottom mb-4">
				<h3> Berita Terbaru</h3>
			</legend>
        <ol class="list-unstyled mb-0">
        	{% for i in berita%}
          <li><a href="#">{{i.judul}},{{i.tanggal|date:"F d Y"}}</a></li>
        	{% endfor %}
        </ol>
      </div>
		</div>
			
		</div>


</div>

{% endblock content %}