
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>

    <style>
        .leaflet-container {
            height: 500px;
            width: 1200px;

        }
    </style>

    
</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2"><h3>Buat Agenda</h3>
        {{form.as_p}}
    </div>
    <div class="col-md-4"><div id='map'></div>
</div>
  </div>
</div>


<script type="text/javascript" src="{https://leafletjs.com/SlavaUkraini/examples/choropleth/us-states.js}"></script>

<script type="text/javascript">

    var map = L.map('map').setView([-7.15856, 111.55723], 7);

    var tiles = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 18,
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
            'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        id: 'mapbox/light-v9',
    }).addTo(map);

    /* global statesData */

   

    
    var popup = L.popup().
        .setLatLng([-7.15856, 111.55723])
        .setContent('Click map untuk otomatis mendapatkan latitue longtitude.')
        .openOn(map);

    function onMapClick(e) {
        popup
            .setLatLng(e.latlng)
            .setContent('Koordinat map ' + e.latlng.toString())
            .openOn(map);
            document.getElementById('id_latitude').value =  e.latlng.lat;
            document.getElementById('id_longtitude').value =  e.latlng.lng;
    }

    map.on('click', onMapClick);

</script>

