 {% extends 'blog/basis.html'%}      
{% block content %}
<style type="text/css">
 .form-input img {
  width:120px;
  display:none;
  margin-bottom:30px;

}

</style>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<div class="container" >
<legend class="border-bottom mb-4">Buat Kategori berita</legend>
<form method="post" enctype="multipart/form-data" action="">
{%csrf_token%}

 <div class="form-group row">
    <label for="judul" class="form-label ">Nama</label>
    <div class="col-sm-10">
      {{form.nama}} 
    </div>
  </div>

    <div class="form-group row">
                    <div class="col-sm-10">
                  <div class="preview">
                    {% if gambarnya %}
                    <img src="{{gambarnya.gambar.url}}" id="file-ip-1-preview" style="width:250px;display: block;">
                    {% else %}
                  <img id="file-ip-1-preview" style="width:250px;">
                   {% endif %}
                  </div>
                    </div>
                  </div>

    <div class="form-group row">
      <label for="thumbnail" class="form-label">Gambar thumbnail :</label>
      <div class="col-sm-10">
<input class="nama" name="gambar" type="file" id="file-ip-1" accept="image/*" onchange="showPreview(event);" >
        </div>
     </div>
  <div class="form-group row">
    <label for="headline" class="form-label ">Deskripsi</label>
    <div class="col-sm-10">
      {{form.deskripsi}}
    </div>
  </div>   

                    <div class="form-group">
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
               
</form>
</div>
<script>
   function showPreview(event){
  if(event.target.files.length > 0){
    var src = URL.createObjectURL(event.target.files[0]);
    var preview = document.getElementById("file-ip-1-preview");
    preview.removeAttribute('src')
    preview.src = src
    preview.style.display = "block";
  }
}


</script>
{% endblock content %}