{% extends 'blog/basis.html'%}
{% block content %}
<style type="text/css">

</style>
<div class="container" style="min-height:700px;">
	    <div class="blog-post">
            <h2 class="blog-post-title"><b>Dari : {{object.nama}} ({{object.no_hp}})</b><a class="btn btn-danger" href="/hapus_laporan/{{object.pk}}">Hapus Laporan</a></h2>
            <p class="text-muted">{{object.tanggal|date:"F d Y"}}</p>
            <p>{{object.isi}}</p>
            <img src="{{object.foto.url}}">
          </div><!-- /.blog-post -->
</div>
{% endblock content %}