{% extends 'blog/basis.html' %}
{% load static%}

{% block content %}
<section >
	<div class="container" style="margin-bottom:40px;margin-top: 80px;">
		<div class="row">
		
					<div class="col-12">
						<div class="blog-single-main">
							<div class="blog-detail">
								<!-- News meta -->
								<h2 class="blog-title"><b>{{targetBerita.judul}}</b></h2>
								<div class="text-muted"style="margin-bottom:40px;"> <i class="fa fa-calendar"></i> {{targetBerita.tanggal|date:"F d,Y"}} <i class="fa fa-folder"></i> {{targetBerita.kategori}} <i class="fa fa-eye" aria-hidden="true"></i> dilihat {{targetBerita.dilihat}} kali</div>
								
							<div class="main-image" style="margin-bottom:40px;">
								<img src="{{targetBerita.thumbnail.url}}" alt="{{targetBerita.judul}}" >
							</div>
								</div>{{targetBerita.isi|safe}}				

								<!-- Post Nav -->
							
								<div align="center">

          <a class="btn btn-outline-primary mb-4" href="{{sebelumnya.link}}">Berita sebelum</a>
      
        <a class="btn btn-outline-primary mb-4" href="{{berikutnya.link}}">Berita berikutnya</a>
       
   				 </div>

							  <div class="row">
							  	 <legend class="border-bottom mb-4">Berita lainnya dengan kategori {{targetBerita.kategori}}</legend>
							  </div>
            <div class="card-group" >
                    {%if berita%}
                        {%for daftar in berita%}
                        
                            <!-- Single Blog -->
                           <div class="card"  style="max-width: 250px;height: 250px;">
                           	<a href="/berita/{{request.session.kategori}}/{{daftar.link}}">
							 <img class="card-img-top" src="{{daftar.thumbnail.url}}" width="100px;" height="150px;" alt="Card image cap"></a>
  							<div class="card-body">
  						  <h5 class="card-title">{{daftar.judul|truncatechars:60}}</h5>
    				
    					
 							 </div>
							</div>
                            <!--/ End Single Blog -->
                        

                {% endfor %}
                  {% endif %}      

     
            </div>
        </div>
								</div>
							<!--
												 <div class="row">
					<div class="col-12">
						<div class="blog-comments-form">
							<div class="bottom-title">
								<h2>Tinggalkan Komentar</h2>
								<p>Kolom bertanda bintang (*) wajib diisi</p>
							</div>

							<form class="form" method="post" action="mail/mail.php">
								<div class="row">
									<div class="col-lg-4 col-md-4 col-12">
										<div class="form-group">
											<label>Nama<span>*</span></label>
											<input type="text" name="name" required="required">
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-12">
										<div class="form-group">
											<label>Email<span>*</span></label>
											<input type="email" name="email" required="required">
										</div>
									</div>
									<div class="col-12">
										<div class="form-group">
											<label>Komentar<span>*</span></label>
											<textarea name="message" rows="6"></textarea>
										</div>
									</div>
									<div class="col-12">
										<div class="form-group button">
											<button type="submit" class="bizwheel-btn primary effect">Kirim<i class="fa fa-paper-plane"></i></button>
										</div>
									</div>
								</div>
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
							</div>
						</div>
					</div>
					
				</div>
				 -->
</section>
{% endblock content %}



