{% extends 'blog/basis.html'%}
{% block content %}
<section class="news-area archive blog-single section-padding">
<div class="container" style="min-height:700px;">
 <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Hapus Pengaduan</legend>
                <h2>Apakah anda yakin ingin menghapus pengaduan dari "{{ objek.nama }}" ?</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Ya</button>
                <a class="btn btn-outline-secondary" href="{% url 'lihatPesan' %}">Tidak</a>
            </div>
        </form>
    </div>
</div>
</section>

{% endblock %}