{% extends 'blog/basis.html' %}
{% load static %}
{% block content %}

<div class="jumbotron jumbotron-fluid " style="background-image:url('https://cloud.mysteryscience.com/image/fetch/f_auto,q_auto/https://www.dropbox.com/s/6mlhvbi7hba40it/Thumbnail-Mini-Lesson-Wow_Deep-Ocean_shutterstock_1044142510.jpg%3Fdl%3D1')">


  <div class="container text-white">
   <h2>{{data.nama}}</h2>
				<p>{{data.deskripsi}}</p>
  </div>
</div>

<!-- Blog Layout -->
	<div class="container" style="min-height:600px;">
		{% if user.is_authenticated %}
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 40px;">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{{request.session.kategori}}/baru/buat_berita">Tambah Berita <span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="{{request.session.kategori}}/edit/kelola_berita">Kelola Berita <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
{% endif %}

			
    <form method="get" class="d-flex search-form" action=" " style="margin-bottom:20px;">
        
          <input class="form-control mr-2 cari-form" type="search" placeholder="Masukkan keyword untuk mencari berita tentang {{data.nama}}" aria-label="Cari berita" name="cari_berita" size="50" value="{{request.GET.cari_berita}}">
    
                       <button class="btn btn-outline-info" type="submit">Cari</button>
                     </form>

  {% if request.GET.cari_berita %}
  <h2 style="margin-bottom:30px">Hasil pencarian untuk {{request.GET.cari_berita}}</h2>
  {% endif %}
		
	{% if berita %}
				{% for daftar in berita  %}
	<div class="row" style="margin-bottom:10px;">
		
    <div class="col-md-3">
     <a href="/berita/{{request.session.kategori}}/{{daftar.link}}"> <img src="{{daftar.thumbnail.url}}"alt="..." width="270px;" height="250px;"></a>
    </div>
    <div class="col-md-7">

        <h5 class="card-title"><b>{{daftar.judul}}</b></h5>
        <small class="text-muted"> <i class="fa fa-calendar"></i> {{daftar.tanggal|date:"F d,Y"}} <i class="fa fa-folder"></i> {{daftar.kategori}} <i class="fa fa-eye" aria-hidden="true"></i> dilihat {{daftar.dilihat}} kali</small>
        <p class="card-text">{{daftar.isi|cut:"img "|safe|truncatechars:300}}</p>
    </div>

</div>
					
				{% endfor %}	

				{% else %}
					<p> Tidak ada berita untuk sekarang...</p>
				{% endif %}

		</div>
		<div align="center">
		 {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-primary mb-4" href="?page=1">Awal</a>
        <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.previous_page_number }}">Sebelum</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-primary mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-primary mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.next_page_number }}">Berikutnya</a>
        <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.paginator.num_pages }}">Terakhir</a>
      {% endif %}

    {% endif %}
    </div>

{% endblock content %}