{% extends 'blog/basis.html' %}
{% load static %}
{% block content %}
<style type="text/css">
	.parent{ width: 60%;margin-left: 0px; }
</style>
<div class="jumbotron jumbotron-fluid " style="background-image:url('https://cloud.mysteryscience.com/image/fetch/f_auto,q_auto/https://www.dropbox.com/s/6mlhvbi7hba40it/Thumbnail-Mini-Lesson-Wow_Deep-Ocean_shutterstock_1044142510.jpg%3Fdl%3D1')">

  <div class="container text-white">
   <h1>Berita</h1>
				<p>Kabar Pesisir Kab.Pati</p>
  </div>
</div>

	<div class="container" style="min-height:600px;">
				{% if user.is_authenticated%}
	{% if user.is_authenticated %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/berita/{{request.session.kategori}}/baru/buat_berita">Buat Berita <span class="sr-only">(current)</span></a>
      </li>
         <li class="nav-item active">
        <a class="nav-link" href="/berita/{{request.session.kategori}}">Kembali<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
{% endif %}
{% endif %}
			
  
	<form method="get" class="d-flex search-form" action=" " style="margin-bottom:20px;">
        
          <input class="form-control mr-2 cari-form" type="search" placeholder="Masukkan keyword untuk mencari berita berita yang ingin anda ubah/hapus" aria-label="Cari berita" name="cari" size="50" value="{{request.GET.cari}}">
    
                       <button class="btn btn-outline-info" type="submit">Cari</button>
                     </form>	
	<div class="container" style="margin-top: 10px;">
	<table class="table">
  <thead>
    <tr>
      <th scope="col">Thumbnail</th>
      <th scope="col">Nama</th>
      <th scope="col">Deskripsi</th>
    </tr>
  </thead>
  <tbody>
  	{% for i in objects%}
    <tr>
      <td><img src="{{i.thumbnail.url}}" width="200px;"></td>
      <td>{{i.judul}}</td>
      <td>{{i.isi|cut:"img "|safe|truncatechars:30}}</td>
      <td><a class="btn btn-primary" href="/berita/edit/{{request.session.kategori}}/{{i.pk}}">Edit</a> <a class="btn btn-danger" href="/hapus_berita/{{i.pk}}">Hapus</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div align="center">
		 {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-primary mb-4" href="?page=1">Pertama</a>
        <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.previous_page_number }}">Sebelumnya</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-primary mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-primary mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.next_page_number }}">Berikutnya</a>
        <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.paginator.num_pages }}">Terakhir</a>
      {% endif %}

    {% endif %}
    </div>
</div>	

{% endblock content %}