{% extends 'blog/basis.html'%}
{% block content %}
<section class="news-area archive blog-single section-padding">
<div class="container" style="min-height: 700px;">
<h1> Hasil pencarian untuk '{{item}}', ( {{dataDitemukan}} ) hasil</h1>
{% if beritaCari %}
        {% for daftar in beritaCari %}
        <div class="card mb-3" >
  <div class="row g-0">
    <div class="col-md-4">
      <a href="/berita/{{daftar.kategori.link}}/{{daftar.link}}"><img src="{{daftar.thumbnail.url}}" class="img-fluid rounded-start" alt="..."></a>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{daftar.judul}}</h5>
        <p class="card-text">{{daftar.kategori}}</p>
        <p class="card-text"><small class="text-muted">{{daftar.tanggal}}</small></p>
      </div>
    </div>
  </div>
</div>
      
            {% endfor %}
{%endif%}
        <section align=center >
        {% if dataDitemukan%}
           <a class="btn btn-outline-primary mb-4" href="?cari={{item}}&halaman=1">Awal</a>

           <a class="btn btn-outline-primary mb-4" href="?cari={{item}}&halaman={{sebelumnya}}">sebelum</a>
        {% for index in Queries %}
        {% if sekarang == index %}
              <a class="btn btn-primary mb-4" href="?cari={{item}}&halaman={{ index }}">{{ index }}</a>
            {% else %}
              <a class="btn btn-outline-primary mb-4" href="?cari={{item}}&halaman={{ index }}">{{  index }}</a>
            {% endif %}
        {%endfor %}
        <a class="btn btn-outline-primary mb-4" href="?cari={{item}}&halaman={{ berikutnya}}">Next</a>
            <a class="btn btn-outline-primary mb-4" href="?cari={{item}}&halaman={{akhir}}">Akhir</a>
        {% endif %}
        </section>
        
    </div>
    </section>
    {% endblock %}