{% extends 'blog/basis.html' %}
{% load static %}
{% block content %}
<!-- Konten -->
<style type="text/css">
  .form-input img {
  width:100%;
  display:none;
  margin-bottom:30px;
}

</style>
			<div class="card my-5 px-3">
				<div class="card-body">
				 <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">Formulir Pengaduan</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->

              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card-body">
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Nama</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" name="id_nama" placeholder="Nama" required="">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-2 col-form-label">Alamat</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" name="id_alamat"  placeholder="Alamat" required=""> 
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-2 col-form-label">Nomer HP</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" name="id_no_hp"  placeholder="Nomer Hp" required="">
                    </div>
                  </div>
                   <div class="form-group row">
                    <div class="col-sm-10">
                  <div class="preview">
                  <img id="file-ip-1-preview" style="width:250px;">
                  </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-2 col-form-label">Foto</label>
                    <div class="col-sm-10">
                       <input type="file" name="foto" id="file-ip-1" accept="image/*" onchange="showPreview(event);">
                    </div>
                  </div>
                 <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-2 col-form-label">Pengaduan</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" rows="3" name="id_isi" placeholder="Pengaduan ..." required=""></textarea>
                    </div>
                  </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-info">Kirim Pengaduan</button>
                 
                </div>
                <!-- /.card-footer -->
              </form>
            </div>
            <!-- /.card -->								
				</div>
	

  

</div><!-- Footer -->
<script>
function validateForm() {
  let nama = document.forms["myForm"]["inputNama"].value;
  let alamat = document.forms["myForm"]["inputAlamat"].value;
  let noHp = document.forms["myForm"]["inputNoHp"].value;
  let pengaduan = document.forms["myForm"]["Pengaduan"].value;
  if (nama == "") {
    alert("Name harus di isi");
    return false;
  }
  if (alamat == "") {
    alert("Alamat harus di isi");
    return false;
  }
  if (noHp == "") {
    alert("Nomer HP harus di isi");
    return false;
  }
  if (pengaduan == "") {
    alert("Pengaduan harus di isi");
    return false;
  }
}

  function showPreview(event){
  if(event.target.files.length > 0){
    var src = URL.createObjectURL(event.target.files[0]);
    var preview = document.getElementById("file-ip-1-preview");
    preview.src = src;
    preview.style.display = "block";
  }
}
</script>
{% endblock content %}