{% extends 'blog/basis.html'%}
{% block content%}
{% if form.errors %}
 
         <div id="this" class=" alert alert-danger">username atau password salah!  <button onclick = "hapus()" class="btn btn-danger">Tutup</button></div>

        
{% endif %}

<section >
<div class="container" style="min-height:700px; padding-top: 40px;">
<h3>Halaman Login</h3>
<form method="post">
{% csrf_token %}

<div class="form-group row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Username:</label>
    <div class="col-sm-4">
      {{form.username}}
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-4">
      {{form.password}}
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Sign in</button>
</form>
<small>Kontak admin jika terjadi masalah atau lupa password</small>
</div>
</section>

{% endblock content%}