{% extends 'blog/basis.html'%}
{% block content%}
<section class="news-area archive blog-single section-padding">
<div class="container" style="min-height:700px;">
<h3>Anda telah logout</h3>
<small><a href="/login">klik disini untuk login kembali</a></small>
</div>
</section>

{% endblock content%}