{% extends 'blog/basis.html'%}
{% block content %}
<div class="container" style="min-height:700px;margin-top: 70px;">
  <a  href ="/webgis/buat_peta/"class="btn btn-outline-primary">Tambah objek geojson baru </a>
     <form method="get" class="d-flex search-form" action=" " style="margin-bottom:20px;">
        
          <input class="form-control mr-2 cari-form" type="search" placeholder="Masukkan keyword untuk mencari geojson" aria-label="Cari berita" name="cari" size="50" value="{{request.GET.cari_berita}}">
    
                       <button class="btn btn-outline-info" type="submit">Cari</button>
                     </form>
	<table class="table">
  <thead>
    <tr>
      <th scope="col">Nama</th>
      <th scope="col">Jenis</th>
      <th scope="col">Opsi</th>
  
    </tr>
  </thead>
  <tbody>
  	{% for i in objects %}
    <tr>
      <td>{{i.nama}}</td>
      <td>{{i.jenis}}</td>
      <td><a class="btn btn-primary" href="/webgis/edit_peta/{{i.pk}}">Edit</a> <a class="btn btn-danger" href="/webgis/hapus_peta/{{i.pk}}">Hapus</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div align="center">
		 {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-primary mb-4" href="?page=1">Pertama</a>
        <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.previous_page_number }}">Sebelumnya</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-primary mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-primary mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.next_page_number }}">Berikutnya</a>
        <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.paginator.num_pages }}">Terakhir</a>
      {% endif %}

    {% endif %}
    </div>
</div>
{% endblock %}