
{% extends 'blog/basis.html'%}
{% load static %}

{% block content %}
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>
 <link rel="stylesheet" href="https://ppete2.github.io/Leaflet.PolylineMeasure/Leaflet.PolylineMeasure.css" />
<link rel="stylesheet" type="text/css" href="{% static 'assets/dist/Leaflet.TileLegend-master/Leaflet.TileLegend.css'%}">
<link rel="stylesheet" type="text/css" href="https://opengeo.tech/maps/leaflet-search/src/leaflet-search.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-ajax/2.1.0/leaflet.ajax.min.js"></script>
<script type="text/javascript" src="https://opengeo.tech/maps/leaflet-search/src/leaflet-search.js"></script>
<script src="https://ppete2.github.io/Leaflet.PolylineMeasure/Leaflet.PolylineMeasure.js"></script>
<script type="text/javascript" src="{% static 'assets/dist/Leaflet.TileLegend-master/Leaflet.TileLegend.js'%}"></script>
    <style>
 
        .leaflet-container {
            height:700px;
            width: 100%;

        }
        #show{
        	padding: 20px;
        	display: none;
        }
/*
    DEMO STYLE
*/



a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
}

#sidebar {
    width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 10px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */


    </style>
  <div class="wrapper">
        <!-- Sidebar  -->
        <div id="sidebar">
          <div id = "lihat" style="margin-top: 300px;margin-left: 13px; width: 30px; display: none;">
              <a onclick="show()"><i class="fa fa-list" ></i></a>
            </div>
            <div id="nyala-mati">
            <ul class="list-unstyled components">
                <img src="{% static 'assets/images/sisir_footer.png'%}" width="200px;" height="100px;">
                <li >
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Potensi</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                     <div id="myUL0" style="height: 300px;width: 200px;overflow-y: scroll;">
                        <input type="text" id="myInput0" onkeyup="myFunction('myInput0','myUL0')" placeholder="cari objek potensi">
                         {% for p in potensi %}
                        <li>
                            <a onclick="terbangPotensi({{p.latitude}},{{p.longtitude}})">{{p.nama}}</a>
                        </li>
                    {% endfor %}
                    </div>
                    </ul>
                </li>
<li>
<a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Objek Wisata</a>
    
   <ul class="collapse list-unstyled" id="pageSubmenu" >
    <div id="myUL" style="height: 300px;width: 200px;overflow-y: scroll;">
<input type="text" id="myInput" onkeyup="myFunction('myInput','myUL')" placeholder="cari objek wisata">
              {% for w in wisata %}
                        <li>
                            <a onclick="terbang({{w.latitude}},{{w.longtitude}})">{{w.nama}}</a>
                        </li>
              {% endfor %}
                        </div>
                    </ul>
          
</li>


  
<li>
<a href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Mangrove</a>
    
   <ul class="collapse list-unstyled" id="pageSubmenu1" >
  <div id="myUL1" style="height: 300px;width: 200px;overflow-y: scroll;">
<input type="text" id="myInput1" onkeyup="myFunction('myInput1','myUL1')" placeholder="cari objek mangrove">

              {% for w in Mangrove %}
                        <li>
                            <a onclick="terbangGEO({{w.latitude}},{{w.longtitude}})">{{w.nama}}</a>
                        </li>
              {% endfor %}
                        </div>
                    </ul>
          
          </li>
          
<li>
<a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Garam</a>
    
   <ul class="collapse list-unstyled" id="pageSubmenu2" >
   <div id="myUL2" style="height: 300px;width: 200px;overflow-y: scroll;">
<input type="text" id="myInput2" onkeyup="myFunction('myInput2','myUL2')" placeholder="cari objek garam">

              {% for w in Garam %}
                        <li>
                            <a onclick="terbangGEO({{w.latitude}},{{w.longtitude}})">{{w.nama}}</a>
                        </li>
              {% endfor %}
                        </div>
                    </ul>
          
          </li>
    <ul class="list-unstyled CTAs">
                <li>
                    <a onclick="hide()" class="article">Sembunyikan</a>
                </li>
            </ul>
            </div>
              
        </div>

       

            <div id="map"></div>


    </div>

       <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://opengeo.tech/maps/leaflet-search/src/leaflet-search.js"></script>
<script type="text/javascript" src="https://consbio.github.io/Leaflet.HtmlLegend/dist/L.Control.HtmlLegend.js"></script>
<script type="text/javascript">
  var map = L.map('map').setView([-6.601859, 111.036052],11);

  var tiles =L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
  maxZoom: 19,
}).addTo(map);



var wisataIcon = L.icon({
    iconUrl:  "{% static 'assets/images/wisata.png' %}" ,


    iconSize:     [60, 60], // size of the icon
  
   
});


var potensiIcon = L.icon({
    iconUrl:  "{% static 'assets/images/potensi.png' %}" ,


    iconSize:     [60, 60], // size of the icon
  
   
});

var wisata = {}
var potensi = {}
var mangroves = {}
var garams = {}

{% for peta in Administrasi %}

var admin = new L.GeoJSON.AJAX('{{peta.geojson.url}}',{style:function style(feature) {
        return {
            weight: 2,
            opacity:1,
            color: '{{peta.warna}}',
            dashArray: '2',
            fillOpacity: 0.3,
            fillColor: '{{peta.warna_dalam}}'
        };
    },onEachFeature:onEachFeature}).addTo(map);
{% endfor %}

{% for p in wisata %}
var pop = '<img src="{{p.foto.url}}" width="250px"><h5><b> Wisata : {{p.nama}}</b></h5>' + '{{p.deskripsi|linebreaks}}'
var marker = L.marker([{{p.latitude}},{{p.longtitude}}],{icon:wisataIcon}).addTo(map).bindPopup(pop,{autoPan: true,maxHeight:300,maxWidth:300});
 marker = {"{{p.latitude}}-{{p.longtitude}}" : marker}
 wisata = Object.assign(wisata,marker)
{% endfor %}


{% for p in potensi %}
var pop = '<img src="{{p.foto.url}}" width="250px"><h5><b>Potensi : {{p.nama}}</b></h5>' + '{{p.deskripsi|linebreaks}}'
var marker1 = L.marker([{{p.latitude}},{{p.longtitude}}],{icon:potensiIcon}).addTo(map).bindPopup(pop,{autoPan: true,maxHeight:300,maxWidth:300});
 marker1 = {"{{p.latitude}}-{{p.longtitude}}" : marker1}
 potensi = Object.assign(potensi,marker1)
{% endfor %}


{% for x in Garam %}
var garam = new L.GeoJSON.AJAX('{{x.geojson.url}}',{style:function style(feature) {
    return {
      weight: 2,
      opacity: '{{x.opacity}}',
      color: '{{x.warna}}',
      dashArray: '2',
      fillOpacity:'{{x.fillOpacity}}',
      fillColor: '{{x.warna_dalam}}'
    };
  },onEachFeature:onEachFeature}).addTo(map);
{% endfor %}

{% for p in Mangrove %}

var mangrove = new L.GeoJSON.AJAX('{{p.geojson.url}}',{style:function style(feature) {
    return {
      weight: 2,
      opacity: '{{p.opacity}}',
      color: '{{p.warna}}',
      dashArray: '2',
      fillOpacity: '{{p.fillOpacity}}',
      fillColor: '{{p.warna_dalam}}'
    };
  },onEachFeature:onEachFeature}).addTo(map);
{% endfor %}




/*
  function onMapClick(e) {
    popup
      .setLatLng(e.latlng)
      .setContent('You clicked the map at ' + e.latlng.toString())
      .openOn(map);
  }

  map.on('click', onMapClick);
var marker = L.circle([-6.414248, 110.986798], {
		color: 'red',
		fillColor: '#f03',
		fillOpacity: 0.5,
		radius: 500
	}).addTo(map).bindPopup('I am a circle.');
*/
L.control.scale ({maxWidth:240, metric:true, imperial:false, position: 'bottomleft'}).addTo (map);
let polylineMeasure = L.control.polylineMeasure ({position:'topleft', unit:'metres', showBearings:true, clearMeasurementsOnStop: false, showClearControl: true, showUnitControl: true})
            polylineMeasure.addTo (map);
    function debugevent(e) { console.debug(e.type, e, polylineMeasure._currentLine) }

            map.on('polylinemeasure:toggle', debugevent);
            map.on('polylinemeasure:start', debugevent);
            map.on('polylinemeasure:resume', debugevent);
            map.on('polylinemeasure:finish', debugevent);
            map.on('polylinemeasure:clear', debugevent);
            map.on('polylinemeasure:add', debugevent);
            map.on('polylinemeasure:insert', debugevent);
            map.on('polylinemeasure:move', debugevent);
            map.on('polylinemeasure:remove', debugevent);


function onEachFeature(feature, layer) {
		var popupContent= '<h5> Info Area: </h5>' 

		if (feature.properties) {
			var obj = Object.keys(feature.properties);
			var obj2 = Object.values(feature.properties);
			for (var i =0;i< obj.length;  i++) {
				var index = obj[i];
				var value = obj2[i]; 
				popupContent += index + ' = ' + value+'<br>'+'</div>';
			}
		}
//popupContent +=
layer.bindPopup(popupContent,{autoPan: true,maxHeight:300})
/*layer.bindTooltip(feature.properties.zona,{permanent:true,direction:'center'})*/
//console.log(layer.bindPopup(popupContent,{autoPan: true}))
//console.log(popupContent)
} 

    var popup = L.popup()
        

function terbang(lat,long){
   var posisi = [lat,long]
   map.panTo(posisi,12)
   lat = String(lat)
   long = String(long)
   var target = lat.concat('-').concat(long)
   wisata[target].openPopup()
}
function terbangGEO(lat,long){
   var posisi = [lat,long]
   map.flyTo(posisi,15)
   lat = String(lat)
   long = String(long)
   popup.setLatLng(posisi)
        .setContent('Click shape/marker untuk dapat info.')
        .openOn(map);
  // var target = lat.concat('-').concat(long)
  // wisata[target].openPopup()
}

function terbangPotensi(lat,long){
   var posisi = [lat,long]
   map.panTo(posisi,12)
   lat = String(lat)
   long = String(long)
   var target =lat.concat('-').concat(long)
   potensi[target].openPopup()
}
/*
    $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                document.getElementById("map").style.width =""
            });
        });
      */
//Administrasi



//Mangrove

/*

	var searchControl = new L.Control.Search({
		layer:admin,
		propertyName: 'DESA',
		marker: false,
		moveToLocation: function(latlng, title, map) {
			//map.fitBounds( latlng.layer.getBounds() );
			var zoom = map.getBoundsZoom(latlng.layer.getBounds());
  			map.setView(latlng, zoom); // access the zoom
		}
	});

	searchControl.on('search:locationfound', function(e) {
		
		//console.log('search:locationfound', );

		//map.removeLayer(this._markerSearch)

		e.layer.setStyle({fillColor: '#3f0', color: '#0f0'});
		if(e.layer._popup)
			e.layer.openPopup();

	}).on('search:collapsed', function(e) {

		admin.eachLayer(function(layer) {	//restore feature color
			admin.resetStyle(layer);
		});	
	});
	
	map.addControl( searchControl );  //inizialize search control  //inizialize search control

*/

	// control that shows state info on hover
	


function openForm() {
  document.getElementById("container1").style.display = "none";
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("show").style.display = "block";
  document.getElementById("map").style.display = "none";
}

function hide(){
  document.getElementById('nyala-mati').style.display = 'none';

  document.getElementById('sidebar').style.width = "40px";
  document.getElementById('lihat').style.display = "block";
  document.getElementByClassName("leaflet-container").style.width = "1360px";
}

function show(){
  document.getElementById('nyala-mati').style.display = 'block';

  document.getElementById('sidebar').style.width = "250px";
  document.getElementById('lihat').style.display = "none";
  document.getElementByClassName("leaflet-container").style.width = "1360px";
}

function myFunction(slug1,slug2) {
  // Declare variables
  var input, filter, ul, li, a, i, txtValue;
  input = document.getElementById(slug1);
  filter = input.value.toUpperCase();
  ul = document.getElementById(slug2);
  li = ul.getElementsByTagName('li');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("a")[0];
    txtValue = a.textContent || a.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}

</script>

{% endblock %}