{% extends 'blog/basis.html'%}
{% block content %}
<div class="container" style="min-height:700px;">
	<table class="table">
  <thead>
    <tr>
      <th scope="col">Pesan</th>
      <th scope="col">Pengirim</th>
      <th scope="col">tanggal</th>
      <th scope="col">status</th>
      <th scope="col">Opsi</th>
    </tr>
  </thead>
  <tbody>
  	{% for i in objects%}
    <tr>
      <td>{{i.isi|truncatechars:30}}</td>
      <td>{{i.nama}}({{i.no_hp}})</td>
      <td>{{i.tanggal|date:"F d,Y"}}</td>
      <td>{% if i.status == 'belum dibaca'%}<div class="alert alert-danger" role="alert">  {{i.status}}</div>{% else %} <div class="alert alert-info" role="alert"> {{i.status}} </div>{% endif %}
</td>
      <td><a class="btn btn-primary" href="/detail_laporan/{{i.pk}}">Baca</a> <a class="btn btn-danger" href="/hapus_laporan/{{i.pk}}">Hapus</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div align="center">
		 {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-primary mb-4" href="?page=1">Pertama</a>
        <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.previous_page_number }}">Sebelumnya</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-primary mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-primary mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.next_page_number }}">Berikutnya</a>
        <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.paginator.num_pages }}">Terakhir</a>
      {% endif %}

    {% endif %}
    </div>
</div>
{% endblock %}