
{% extends 'blog/basis.html'%}
{% load static %}

{% block content %}
   <style>

        .leaflet-container {
            height: 900px;
            width: 1300px;
            max-width: 100%;
            max-height: 100%;
        }
        #show{
          padding: 20px;
          display: none;
        }

    </style>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>


<div class="container-fluid" style="min-height: 700px;">
  <div class="row">
    <div class="col-sm-4"><legend class="border-bottom mb-4"><h3>Upload Map</h3></legend>
        <form method="post" enctype="multipart/form-data" action="">
{%csrf_token%}

<div class="form-group row">
    <label for="judul" class="form-label ">Judul</label>
    <div class="col-sm-10">
      {{form.nama}}
    </div>
  </div>

<div class="form-group row">
    <label for="tanggal" class="form-label ">Kategori</label>
    <div class="col-sm-10">
       {{form.jenis}}
    </div>
  </div>

<div class="form-group row">
    <label for="kategori" class="form-label ">File</label>
    <div class="col-sm-10">
    <input type="file" name="geojson"  class = "form-control "  onchange="showPreview(event)" >
    </div>
  </div>
     
<div class="form-group row">
    <label for="headline" class="form-label ">Latitude</label>
  <div class="col-sm-10">
     <input type="text" name="latitude" id="latitude" value="{{form.latitude.value}}">
    </div>
  </div>
     
<div class="form-group row">
      <label for="headline" class="form-label ">Longtitude</label>
  <div class="col-sm-10">
      <input type="text" name="longtitude" id="longtitude" value="{{form.longtitude.value}}">
    </div>
  </div>
<div class="form-group row">
    <label for="headline" class="form-label ">Warna</label>
  <div class="col-sm-10">
     <input type="color" name="warna" id="fillColor" class = "form-control warna form-control-color"  onchange="showColorPreview('l')" value="{{form.warna.value}}">
    </div>
  </div>
     
<div class="form-group row">
      <label for="headline" class="form-label ">Warna dalam</label>
  <div class="col-sm-10">
     <input type="color" name="warna_dalam" id="fillColorDalam" class = "form-control  warna_dalam form-control-color" onchange="showColorPreview('d')" value="{{form.warna_dalam.value}}">
    </div>
  </div>

<div class="form-group row">
    <label for="tanggal" class="form-label ">Opacity</label>
    <div class="col-sm-10">
    <input type="range" name="opacity" class="form-range Opacity" step = '0.1' id = 'Opacity' min="0" max="1"  onchange="opacityChanger('l')" value="{{form.opacity.value}}">
    </div>
  </div>

 <div class="form-group row">
      <label for="tanggal" class="form-label ">Fill Opacity</label>
      <div class="col-sm-10">
      <input type="range" class ='form-range FillOpacity' name="fillOpacity" step = '0.1' id = 'FillOpacity' min="0" max="1"  onchange="opacityChanger('d')" value="{{form.fillOpacity.value}}">
    </div>
    </div>



                    <div class="form-group ">
                      <button type="submit" class="btn btn-primary">Posting <i class="fa fa-paper-plane"></i></button>
                    </div>
                  
</form>
    
        
    </div>
    <div class="col-xl-8"><div id='map'></div>
</div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-ajax/2.1.0/leaflet.ajax.min.js"></script>
<script type="text/javascript">
  
  var map = L.map('map').setView([-6.783262, 110.945739],10);

  var tiles =L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
  maxZoom: 19,
  attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);

var upload = null;
var src = null;
function showPreview(event){
  if(event.target.files.length > 0){
    console.log(event.target.files.length )
    var gambar = event.target.files[0]
    src = URL.createObjectURL(gambar);
    if (upload == null){
      upload = new L.GeoJSON.AJAX(src,{style:function style(feature) {
      return {
        weight: 2,
        opacity:'{{form.opacity.vale}}',
        color: '{{form.warna.value}}',
        dashArray: '2',
        fillOpacity: '{{form.fillOpacity.value}}',
        fillColor: '{{form.warna_dalam.value}}'
    };
  }}).addTo(map);
      
    }
  else{
    upload.refresh(src)
    document.getElementById("fillColor").value = '{{form.warna.value}}';
    document.getElementById("fillColorDalam").value = '{{form.warna_dalam.value}}';
    document.getElementById("Opacity").value ="{{form.opacity.value}}"
    document.getElementById('FillOpacity').value = "{{form.fillOpacity.value}}"
  }

  }}

function showColorPreview(bagian){
  if (bagian == 'l'){
     var x = document.getElementById("fillColor").value;
      upload.setStyle({color:x})
  }
  else{
    var x = document.getElementById("fillColorDalam").value;
    upload.setStyle({fillColor:x})
  }
  }

function opacityChanger(slug){
  if (slug=='l'){
    var x = document.getElementById('Opacity').value;
    upload.setStyle({opacity:x})
  }
  else{
    var x = document.getElementById("FillOpacity").value;
    upload.setStyle({fillOpacity:x})
  }
}
{% if gambarnya %}
var src1 = '{{gambarnya.geojson.url}}'
 upload = new L.GeoJSON.AJAX(src1,{style:function style(feature) {
      return {
        weight: 2,
        opacity:'{{gambarnya.opacity}}',
        color: '{{gambarnya.warna}}',
        dashArray: '2',
        fillOpacity: '{{gambarnya.fillOpacity}}',
        fillColor: '{{gambarnya.warna_dalam}}'
    };
  }}).addTo(map);
{% endif %}
var popup = L.popup()
function onMapClick(e) {

        popup
            .setLatLng(e.latlng)
            .setContent('Koordinat terpilih ' + e.latlng.toString())
            .openOn(map);
        document.getElementById('latitude').value = e.latlng.lat
        document.getElementById('longtitude').value = e.latlng.lng
      
    }

    map.on('click', onMapClick);
</script>

{% endblock %}