{% extends 'blog/basis.html'%}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="https://bootstrapious.com/tutorial/sidebar/style.css">
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>
 <link rel="stylesheet" href="https://ppete2.github.io/Leaflet.PolylineMeasure/Leaflet.PolylineMeasure.css" />

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-ajax/2.1.0/leaflet.ajax.min.js"></script>
<script type="text/javascript" src="https://opengeo.tech/maps/leaflet-search/src/leaflet-search.js"></script>
<script src="https://ppete2.github.io/Leaflet.PolylineMeasure/Leaflet.PolylineMeasure.js"></script>
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }
        .leaflet-container {
            height:800px;
            width: 100%;
            max-width: 100%;
            max-height: 100%;
        }
        #show{
        	padding: 20px;
        	display: none;
        }
    </style>
    <!--
     <div class="wrapper" style="margin-top:100px">
      Sidebar 
       <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 200px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-4">WEBGIS PANEL</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link active" aria-current="page">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
          upload map baru
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white" onclick="closeForm()">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
          Kelola data
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
          Orders
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
          Products
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
          Customers
        </a>
      </li>
    </ul>
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>mdo</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
  </div>
-->
        <!-- Page Content  -->
 


         <div id="map" style="margin-top:109px"></div>
          <!--
          <div class="container" id = "show">
          	<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
</div>
          </div>
    </div> 
  -->
        <!-- Page Content  -->
       <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://opengeo.tech/maps/leaflet-panel-layers/src/leaflet-panel-layers.js"></script>

<script type="text/javascript">

	var map = L.map('map').setView([-6.601859, 111.036052],10);

	var tiles =L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
	maxZoom: 19,
	attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);

	/* global statesData 
	function onMapClick(e) {
    alert("You clicked the map at " + e.latlng);
}*/
{% for p in wisata %}
  var marker = L.marker([{{p.latitude}}, {{p.longtitude}}],{color:'red'}).addTo(map).bindPopup('<img src="{{p.foto.url}}"><br><b>{{p.nama}}<br>{{p.deskripsi}}</b>',{autoPan: true,maxHeight:300});
{% endfor %}

/*
  function onMapClick(e) {
    popup
      .setLatLng(e.latlng)
      .setContent('You clicked the map at ' + e.latlng.toString())
      .openOn(map);
  }

  map.on('click', onMapClick);
var marker = L.circle([-6.414248, 110.986798], {
		color: 'red',
		fillColor: '#f03',
		fillOpacity: 0.5,
		radius: 500
	}).addTo(map).bindPopup('I am a circle.');
*/
L.control.scale ({maxWidth:240, metric:true, imperial:false, position: 'bottomleft'}).addTo (map);
let polylineMeasure = L.control.polylineMeasure ({position:'topleft', unit:'metres', showBearings:true, clearMeasurementsOnStop: false, showClearControl: true, showUnitControl: true})
            polylineMeasure.addTo (map);
    function debugevent(e) { console.debug(e.type, e, polylineMeasure._currentLine) }

            map.on('polylinemeasure:toggle', debugevent);
            map.on('polylinemeasure:start', debugevent);
            map.on('polylinemeasure:resume', debugevent);
            map.on('polylinemeasure:finish', debugevent);
            map.on('polylinemeasure:clear', debugevent);
            map.on('polylinemeasure:add', debugevent);
            map.on('polylinemeasure:insert', debugevent);
            map.on('polylinemeasure:move', debugevent);
            map.on('polylinemeasure:remove', debugevent);



function onEachFeature(feature, layer) {
		var popupContent= '<h5> Info : </h5>' 

		if (feature.properties) {
			var obj = Object.keys(feature.properties);
			var obj2 = Object.values(feature.properties);
			for (var i =0;i< obj.length;  i++) {
				var index = obj[i];
				var value = obj2[i]; 
				popupContent += index + ' = ' + value+'<br>'+'</div>';
			}
		}
//popupContent +=
layer.bindPopup(popupContent,{autoPan: true,maxHeight:300})
/*layer.bindTooltip(feature.properties.zona,{permanent:true,direction:'center'})*/
//console.log(layer.bindPopup(popupContent,{autoPan: true}))
console.log(popupContent)
} 
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                //document.getElementsByClassName('leaflet-container')[0].style.width = "1800px";
            });
        });

//Administrasi
{% for peta in Administrasi %}

var admin = new L.GeoJSON.AJAX('{{peta.geojson.url}}',{style:function style(feature) {
		return {
			weight: 2,
			opacity:1,
			color: '{{peta.warna}}',
			dashArray: '2',
			fillOpacity: 0.3,
			fillColor: '{{peta.warna}}'
		};
	},onEachFeature:onEachFeature}).addTo(map);
{% endfor %}

//Mangrove

{% for peta in Mangrove %}

var mangrove = new L.GeoJSON.AJAX('{{peta.geojson.url}}',{style:function style(feature) {
    return {
      weight: 2,
      opacity: 3,
      color: '{{peta.warna}}',
      dashArray: '2',
      fillOpacity: 0.7,
      fillColor: '{{peta.warna}}'
    };
  },onEachFeature:onEachFeature}).addTo(map);
{% endfor %}

 

	var searchControl = new L.Control.Search({
		layer:admin,
		propertyName: 'DESA',
		marker: false,
		moveToLocation: function(latlng, title, map) {
			//map.fitBounds( latlng.layer.getBounds() );
			var zoom = map.getBoundsZoom(latlng.layer.getBounds());
  			map.setView(latlng, zoom); // access the zoom
		}
	});

	searchControl.on('search:locationfound', function(e) {
		
		//console.log('search:locationfound', );

		//map.removeLayer(this._markerSearch)

		e.layer.setStyle({fillColor: '#3f0', color: '#0f0'});
		if(e.layer._popup)
			e.layer.openPopup();

	}).on('search:collapsed', function(e) {

		admin.eachLayer(function(layer) {	//restore feature color
			admin.resetStyle(layer);
		});	
	});
	
	map.addControl( searchControl );  //inizialize search control  //inizialize search control



	// control that shows state info on hover
	


function openForm() {
  document.getElementById("container1").style.display = "none";
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("show").style.display = "block";
  document.getElementById("map").style.display = "none";
}


var overLayers = [
	{
		name: "Bar",
		icon: iconByName('bar'),
		layer: L.geoJson(Bar, {pointToLayer: featureToMarker })
	},
	{
		name: "Drinking Water",
		icon: iconByName('drinking_water'),
		layer: L.geoJson(Drinking_water, {pointToLayer: featureToMarker })
	},
	{
		name: "Fuel",
		icon: iconByName('fuel'),
		layer: L.geoJson(Fuel, {pointToLayer: featureToMarker })
	},
	{
		name: "Parking",
		icon: iconByName('parking'),
		layer: L.geoJson(Parking, {pointToLayer: featureToMarker })
	}
];

var baseLayers = [
	{
		group: "Road Layers",
		icon: iconByName('parking'),
		collapsed: true,
		layers: [
			{
				name: "Open Cycle Map",
				icon: iconByName('drinking_water'),
				layer: L.tileLayer('https://{s}.tile.opencyclemap.org/cycle/{z}/{x}/{y}.png')
			},
			{
				name: "Transports",
				icon: iconByName('drinking_water'),
				layer: L.tileLayer('https://{s}.tile2.opencyclemap.org/transport/{z}/{x}/{y}.png')
			}
		]
	}
];

var panelLayers = new L.Control.PanelLayers(baseLayers, overLayers, {
	collapsibleGroups: true,
	collapsed: true
});

map.addControl(panelLayers);
</script>

{% endblock %}