
{% extends 'blog/basis.html'%}
{% load static %}

{% block content %}
   <style>

        .leaflet-container {
            height: 900px;
            width: 1300px;
            max-width: 100%;
            max-height: 100%;
        }
        #show{
          padding: 20px;
          display: none;
        }
 .form-input img {
  width:100%;
  display:none;
  margin-bottom:30px;
}

   body{
    font-family: 'Source Code Pro', monospace;
}
    </style>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>


<div class="container-fluid" style="min-height: 700px;">
  <div class="row">
    <div class="col-sm-4"><legend class="border-bottom mb-4"><h3>Tambah Wisata</h3></legend>
        <form method="post" enctype="multipart/form-data" action="">
{%csrf_token%}

<div class="form-group row">
    <label for="judul" class="form-label ">Judul</label>
    <div class="col-sm-8">
      {{form.nama}}
    </div>
  </div>
    <div class="form-group row">
                    <div class="col-sm-10">
                  <div class="preview">
                    {% if gambarnya %}
                    <img src="{{gambarnya.foto.url}}" id="file-ip-1-preview" style="width:250px;display: block;">
                    {% else %}
                  <img id="file-ip-1-preview" style="width:250px;">
                   {% endif %}
                  </div>
                    </div>
                  </div>


    <div class="form-group row">
      <label for="thumbnail" class="form-label">Gambar :</label>
      <div class="col-sm-10">
     <input class="thumbnail" name = 'foto' type="file" id="file-ip-1" accept="image/*" onchange="showPreview(event);">
        </div>
     </div>

<div class="form-group row">
    <label for="headline" class="form-label ">Latitude</label>
  <div class="col-sm-10">
     <input type="text" name="latitude" id="latitude" value="{{form.latitude.value}}">
    </div>
  </div>
     
<div class="form-group row">
      <label for="headline" class="form-label ">Longtitude</label>
  <div class="col-sm-10">
      <input type="text" name="longtitude" id="longtitude" value="{{form.longtitude.value}}">
    </div>
  </div>


  <div class="form-group row">
    <label for="headline" class="form-label ">Deskripsi</label>
    <div class="col-sm-10">
      {{form.deskripsi}}
    </div>
  </div>   



                    <div class="form-group ">
                      <button type="submit" class="btn btn-primary">Posting <i class="fa fa-paper-plane"></i></button>
                    </div>
                  
</form>
    
        
    </div>
    <div class="col-xl-8"><div id='map'></div>
</div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-ajax/2.1.0/leaflet.ajax.min.js"></script>
<script type="text/javascript">
  var container = L.DomUtil.get('map'); if(container != null){ container._leaflet_id = null; }
function showPreview(event){
  if(event.target.files.length > 0){
    var src = URL.createObjectURL(event.target.files[0]);
    var preview = document.getElementById("file-ip-1-preview");
    preview.src = src;
    preview.style.display = "block";
  }
}
  var map = L.map('map').setView([-6.601859, 111.036052],10);
 L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

var popup = L.popup()
    var popup = L.popup()
        .setLatLng([-6.514255, 110.969149])
        .setContent('Click map untuk otomatis mendapatkan latitue longtitude.')
        .openOn(map);

function onMapClick(e) {

        popup
            .setLatLng(e.latlng)
            .setContent('Koordinat terpilih ' + e.latlng.toString())
            .openOn(map);
        document.getElementById('latitude').value = e.latlng.lat
        document.getElementById('longtitude').value = e.latlng.lng
      
    }

    map.on('click', onMapClick);

</script>

{% endblock %}